<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.clientapp">

    <uses-permission android:name="com.example.notes.READ_CONTENT" />
    <uses-permission android:name="com.example.notes.WRITE_CONTENT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MessengerActivity" />

        <service
            android:name=".MessengerService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".LocalService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".LocalBinderActivity" />
        <activity android:name=".AidlActivity" />
        <activity android:name=".MessengerClientActivity" />
        <activity android:name=".IntentServiceActivity">
            <intent-filter>
                <action android:name="com.zhy.blogcodes.intentservice.UPLOAD_RESULT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".AccpetActivity">
            <intent-filter>
                <action android:name="notes.intent.action.NOTE_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/NOTES" />
            </intent-filter>
        </activity>
        <activity android:name=".client.MyAidlActivity" />
    </application>

</manifest>