<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jin.myapplication"
    android:sharedUserId="com.example.jin.myapplication">

    <permission
        android:name="com.example.notes.READ_CONTENT"
        android:label="Permission for read content provider"
        android:protectionLevel="normal" />
    <permission
        android:name="com.example.notes.WRITE_CONTENT"
        android:label="Permission for write content provider"
        android:protectionLevel="normal" />

    <uses-permission android:name="com.example.notes.READ_CONTENT" />
    <uses-permission android:name="com.example.notes.WRITE_CONTENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProgressBarActivity" />
        <activity android:name=".HadlerThreadActivity" />
        <activity android:name=".sqlite.SQLiteActivity" />
        <activity android:name=".contentprovider.ContentProviderActivity" />
        <activity android:name=".broadcast.BroadcastActivity" />
        <activity android:name=".service.ServiceActivity" />
        <activity android:name=".webviewfiledemo.WebViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <provider
            android:name=".contentprovider.FirstContentProvider"
            android:authorities="jin.cp.FirstContentProvider" />

        <!-- android:process=":provider" -->
        <provider
            android:name=".contentprovider.NotesContentProvider"
            android:authorities="com.example.jin.NotesContentProvider"
            android:exported="true"
            android:grantUriPermissions="true"
            android:process=":provider"
            android:readPermission="com.example.notes.READ_CONTENT"
            android:writePermission="com.example.notes.WRITE_CONTENT" />

        <receiver android:name=".broadcast.TestReceiver">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
            </intent-filter>
            -->
        </receiver>

        <service
            android:name=".service.FirstService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".contentprovider.ListActivity" />

        <service
            android:name="com.mark.aidl.RemoteService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.MessengerService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.zhy.aidl.calc" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name=".service.intentservice.UploadImgService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.zhy.blogcodes.intentservice.action.UPLOAD_IMAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity android:name=".service.intentservice.IntentServiceActivity">
            <intent-filter>
                <action android:name="com.zhy.blogcodes.intentservice.UPLOAD_RESULT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".hadler.HandlerThread2Activity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".floatwindow.GetFloatWindowDirectlyActivity" />
        <activity android:name=".images.ImageActivity" />
        <activity android:name=".contentprovider.NoteActivity" />
        <activity android:name=".packageinfo.PackageActivity" />
        <activity android:name=".packageinfo.PermissionActivity" />
        <activity android:name=".packageinfo.ShowPermissionActivity" />
        <activity android:name=".fragment.MainFragmentActivity"></activity>
    </application>

</manifest>